.fileUpload-base-sound{
  position:fixed;
  display:block;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  z-index:1000;
  overflow-y:auto;
}
.fileUpload-base-sound ul,
.fileUpload-base-sound li{
  list-style:none;
  padding:0;
  margin:0;
  border:0;
  width:100%;
}
.fileUpload-base-sound ul{
  counter-reset:num;

  height:100%;
  /* overflow-Y:auto; */
  padding:40px 0;
}
.fileUpload-base-sound ul li{
  /* min-width:300px;
  max-width:640px;
  width:50%; */
  width:300px;
  text-align:center;
  position:relative;
  margin:20px auto;

  /*選択させない*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.fileUpload-base-sound ul li.sound{
  /* height:40px; */
  padding:0;
  border:0;
  /* background-color:white; */
}

.fileUpload-base-sound ul li.sound .num{
  min-height:24px;
  text-align:right;
  position:relative;
  display:flex;
}
.fileUpload-base-sound ul li.sound .num:before{
  counter-increment: num;
  content: counter(num);

  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  width:24px;
  height:24px;
  font-size:20px;
  color:white;
  text-shadow:0px 0px 2px black;
  text-align:center;
  z-index:100;
}
.fileUpload-base-sound ul li.sound .num .delete{
  width:20px;
  height:20px;
  cursor:pointer;
  filter: drop-shadow(2px 2px 2px black);
  /* display:list-item; */
  margin:2px 8px;
  position:absolute;
  right:0;
}


/* .fileUpload-base li .num{
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  width:30px;
  height:30px;
  font-size:20px;
  color:white;
  text-shadow:2px 2px 4px black;
} */


/* Info */
.fileUpload-base-sound li .info{
  /* position:absolute; */
  height:24px;
  font-size:12px;
  color:white;
  
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.fileUpload-base-sound li .info > *{
  padding-left  : 8px;
  padding-right : 8px;
  font-size:12px;
}
.fileUpload-base-sound .info-title{
  font-size:12px;
  color:white;
  margin-left:24px;
  width:80%;
}




/* Control */

.fileUpload-base-sound li .control{
  /* position:absolute; */
  /* top:calc(50% - 20px); */
  /* top:100%; */
  /* left:0; */
  width:100%;
  /* height:40px; */
  /* text-align:center; */

  display: -webkit-flex;
  display: flex;
  /* display:none; */
  /* display:inline-block; */
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* .fileUpload-base li:hover .control{
  display: -webkit-flex;
  display: flex;
} */
.fileUpload-base-sound li .control > *{
  width:24px;
  height:24px;
  cursor:pointer;
  filter: drop-shadow(2px 2px 2px black);
  /* display:list-item; */
  margin:2px 20px;
}
.fileUpload-base-sound li .control > *:hover{
  opacity:0.5;
}
.fileUpload-base-sound li .control > *[data-view="0"]{
  display:none;
}



.fileUpload-base-sound .audio-area{
  position:relative;
  width:100%;
  /* height:100%; */
  min-height : 40px;
}


.fileUpload-base-sound img.audio{
  width:100%;
  height:100%;
  display:block;
  margin:auto;
  /* vertical-align  :middle; */
  /* object-fit:contain; */
}

/* Uploading-animation */
.fileUpload-base-sound li.submit button{
  margin:10px 20px;
  font-size:12px;
  padding:4px 8px;
  border:1px solid #ccc;
  background-color:#eee;
  border-radius:4px;
}
.fileUpload-base-sound li.submit[data-uploading="1"] button{
  display:none;
}

.fileUpload-base-sound li.submit .uploading{
  display:none;
}
.fileUpload-base-sound li.submit[data-uploading="1"] .uploading{
  display:inline-block;
}
.fileUpload-base-sound li.submit .uploading{
  position:relative;
  width:128px;
  height:128px;
}
.fileUpload-base-sound li.submit .uploading > .dot{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.fileUpload-base-sound li.submit .uploading > .dot:after{
  content:"";
  position:absolute;
  left:calc(50% - 10px);
  top:0;
  width:15%;
  height:15%;
  border-radius:50%;
  background-color:white;
  border:0;
  margin:0;
  padding:0;
  font-size:0;
  animation: anim-circle-ex-dot 1.2s ease-in-out infinite;
}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(1){transform:rotate(0deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(1):after{animation-delay: 0s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(2){transform:rotate(30deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(2):after{animation-delay: -1.1s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(3){transform:rotate(60deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(3):after{animation-delay: -1.0s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(4){transform:rotate(90deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(4):after{animation-delay: -0.9s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(5){transform:rotate(120deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(5):after{animation-delay: -0.8s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(6){transform:rotate(150deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(6):after{animation-delay: -0.7s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(7){transform:rotate(180deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(7):after{animation-delay: -0.6s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(8){transform:rotate(210deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(8):after{animation-delay: -0.5s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(9){transform:rotate(240deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(9):after{animation-delay: -0.4s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(10){transform:rotate(270deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(10):after{animation-delay: -0.3s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(11){transform:rotate(300deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(11):after{animation-delay: -0.2s;}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(12){transform:rotate(330deg);}
.fileUpload-base-sound li.submit .uploading > .dot:nth-child(12):after{animation-delay: -0.1s;}
@keyframes anim-circle-ex-dot{
  0%{transform:scale(0.0);}
  35%{transform:scale(1.0);}
  70%{transform:scale(0.0);}
  100%{transform:scale(0.0);}
}



.fileUpload-base-sound .comment-area{
  margin-top:4px;
  padding-bottom:4px;
  text-align:left;
  display:none;
  /* height:0; */
  /* overflow:hidden; */
  transform:scaleY(0.0);
  position: relative;
}
.fileUpload-base-sound .comment-area:before {
  content: "";
  position: absolute;
  display:inline-block;
  bottom: 100%;
  left: 20px;
  margin-left: -8px;
  border: 8px solid transparent;
  border-bottom: 8px solid white;
}

.fileUpload-base-sound .comment-area[data-view="1"]{
  display:block;
  animation: anim-comment-view 0.5s ease-in-out 1;
  animation-fill-mode : forwards;
  transform-origin:center top;
}
@keyframes anim-comment-view{
  0%{transform:scaleY(0.0);}
  100%{transform:scaleY(1.0);}
}
.fileUpload-base-sound .comment-area .comment-title{
  text-align:left;
  font-size:12px;
  color:white;
}
.fileUpload-base-sound .comment-area .comment-form{
  width:100%;
  height:60px;
  font-size:12px;
  background-color:white;
  border:1px solid white;
  border-radius:4px;
  resize:none;
  padding:4px;
  outline:none;
}

.fileUpload-base-sound .idv3-area{
  margin-top:4px;
  padding-bottom:4px;
  text-align:left;
  /* transform:scaleY(0.0); */
  /* position: relative; */
  white-space:pre;
  font-size:12px;
  color:white;
}

.fileUpload-base-sound .idv3-area .title-form{
  width:100%;
  height:20px;
  font-size:12px;
  background-color:white;
  border:1px solid white;
  border-radius:4px;
  padding-left:4px;
  padding-right:4px;
  outline:none;
}
